@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Catalogo de Departamentos</h1>

<a href="/Departamentos/Create">Agregar Departamento</a>
<a href="/Departamentos/Lista">Lista de Departamentos</a>